@import '../../../config/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-device-width: $tablet-landscape-min-width) {
    align-items: flex-start;
  }
}

.main-header {
  font-size: 18px;

  @media (min-device-width: $tablet-portrait-min-width) {
    font-size: 24px;
  }
}

.brand {
  composes: main-header;
  text-transform: uppercase;
}

.name {
  composes: main-header;
}

.category {
  font-size: 12px;

  @media (min-device-width: $tablet-portrait-min-width) {
    font-size: 14px;
  }
}

.rating {
  margin-top: 15px;
}
