@import '../../config/variables';

:global {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;

    & > div, & > button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .col-xs-12 {
    margin-top: 20px;
    width: 100%;
  }

  @media (min-device-width: $tablet-landscape-min-width) {
    .col-md-3 {
      width: 25%;
    }

    .col-md-4 {
      width: 33.33333333%;
    }

    .col-md-6 {
      width: 50%;
    }

    .col-md-8 {
      width: 66.66666667%
    }

    .col-md-9 {
      width: 75%;
    }

    .col-md-12 {
      width: 100%;
    }
  }
}
