@import '../../config/variables';

main {
  min-width: $mobile-min-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-device-width: $tablet-portrait-min-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-device-width: $desktop-min-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

body {
  font-family: 'Proxima Nova','Trebuchet MS',Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: $font-color;
}
