@import '../../config/variables';

main {
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  font-family: 'Proxima Nova','Trebuchet MS',Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: $font-color;
}
