@import '../../../config/variables';

.preview-wrapper {
  position: relative;
  width: 280px;
  height: 280px;
  // width: 458px;
  display: flex;
  // justify-content: center;
  // align-items: flex-start;
  padding: 20px;
  margin: 0 auto;

  @media (min-device-width: $tablet-portrait-min-width) {
    width: 315px;
    height: 315px;
  }

  img {
    object-fit: contain;
    margin: 0 auto;
  }
}

.gender-ico {
  position: absolute;
  right: 20px;
  // right: 40px;
  top: 20px;
  font-size: 2em;
}
