@import '../../../config/variables';

.preview-wrapper {
  position: relative;
  width: 280px;
  height: 280px;
  // width: 458px;
  display: flex;
  padding: 20px;
  margin: 0 auto;

  @media (min-device-width: $tablet-portrait-min-width) {
    width: 315px;
    height: 315px;
  }

  @media (min-device-width: $tablet-landscape-min-width) {
    width: 340px;
    height: 340px;
  }

  img {
    object-fit: contain;
    margin: 0 auto;
  }
}

.gender-ico {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;

  @media (min-device-width: $tablet-landscape-min-width) {
    right: 40px;
  }
}
