$desktop-max-width: 1240px;
$desktop-min-width: 1025px;
$tablet-landscape-min-width: 600px;
$tablet-landscape-max-width: 1024px;

$font-color: #222222;
$font-faded-color: #9b9b9b;

$main-highlight-color: #ff408e;

$border-faded-color: #e6e6e6;
$border-color: #9b9b9b;
