@import '../../../config/variables';

.container {
  display: flex;
  flex-flow: row wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.preview {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 5px;
}

.option-wrapper {
  padding: 5px;
  width: 50%;
}

.option {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  border: 1px solid $border-faded-color;
  user-select: none;
  transition: border-color .3s ease;

  &:focus {
    outline: none;
  }
}

.option-selected {
  composes: option;
  border-color: $main-highlight-color;
}

.volume-container {
  display: flex;
  flex-flow: row wrap;
}

.purchase-word {
  display: none;

  @media (min-device-width: $tablet-portrait-min-width) {
    display: inline-block;
  }
}
