@import '../../../config/variables';

$input-background-color: #fafafa;

:global .react-select__control {
  min-height: 48px !important;
  border-radius: 0 !important;
  font-size: 18px;
  line-height: 1;
  border: 1px solid;
  border-color: $border-faded-color !important;
  background-color: $input-background-color !important;
  box-shadow: none !important;
}

:global .react-select__control--is-focused {
  border-color: $border-focus-color !important;
}

:global .react-select__indicator-separator {
  display: none;
}

.down-arrow {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $main-highlight-color;
  margin-right: 10px;
}
